.icon {
  margin: 5px;
  padding: 0px !important;
  height: 16px;
  /* color: var(--text); */
}
.container-header > span > .icon:first-child {
  margin-left: 0px;
}
.container-header > span > .icon:last-child {
  margin-right: 0px;
}


.logo {
  margin: 5px;
  padding: 0px !important;
  height: 24px;
  color: var(--text);
}

.anilist:hover {
  color: #02a9ff;
}
.bluesky:hover {
  color: #1185fe;
}
.codeberg:hover {
  color: #2185d0;
}
.discord:hover {
  color: #5865f2;
}
.forgejo:hover {
  color: #fb923c;
}
.hardcover:hover {
  color: #6366f1;
}
.modrinth:hover {
  color: #00af5c;
}
.pronounscc:hover {
  color: #aa8ed6;
}
