@import url("palette.css");
@import url("icons.css");

:root {
  --text: var(--ctp-latte-text);
  --success: var(--ctp-latte-green);
  --warning: var(--ctp-latte-yellow);
  --danger: var(--ctp-latte-red);
  --accent-color: var(--ctp-latte-mauve);
  --border: var(--ctp-latte-surface0);
  --background2: var(--ctp-latte-base);
  --background1: var(--ctp-latte-mantle);
  --background0: var(--ctp-latte-crust);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--ctp-mocha-text);
    --success: var(--ctp-mocha-green);
    --warning: var(--ctp-mocha-yellow);
    --danger: var(--ctp-mocha-red);
    --accent-color: var(--ctp-mocha-mauve);
    --border: var(--ctp-mocha-surface0);
    --background2: var(--ctp-mocha-base);
    --background1: var(--ctp-mocha-mantle);
    --background0: var(--ctp-mocha-crust);
  }
}

body {
  background: var(--background0);
  color: var(--text);
  font-family: "Maple Mono", sans-serif;
}

.button {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {
  font-weight: bold;
}

.header {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--background1);
  border-bottom: 1px solid var(--border);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-content {
  width: 85rem;
}

.row {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.row > .container {
  margin: 0px;
}

.container {
  border-radius: 5px;
  border: 1px solid var(--border);
  overflow: hidden;
  margin: 20px;
  height: fit-content;
  width: fit-content;
}

.row .container {
}

.container-header {
  background-color: var(--background1);
  /* padding: 10px; */
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
}
.container-header > * {
  margin: 10px;
}
.container-content > * {
  background-color: var(--background2);
  padding: 10px;
}

.links {
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.link {
  margin: 5px;
}

.icon {
  display: inline;
  padding: 10px;
}
.profile {
  padding: 0px !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
