@import url("palette.css");
@import url("icons.css");

:root {
  --text: var(--ctp-latte-text);
  --subtext: var(--ctp-latte-overlay2);
  --success: var(--ctp-latte-green);
  --warning: var(--ctp-latte-yellow);
  --danger: var(--ctp-latte-red);
  --accent-color: var(--ctp-latte-mauve);
  --border: var(--ctp-latte-surface0);
  --background2: var(--ctp-latte-base);
  --background1: var(--ctp-latte-mantle);
  --background0: var(--ctp-latte-crust);
  --logo-yellow: var(--ctp-latte-yellow);
  --logo-mauve: var(--ctp-latte-mauve);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--ctp-mocha-text);
    --subtext: var(--ctp-mocha-overlay2);
    --success: var(--ctp-mocha-green);
    --warning: var(--ctp-mocha-yellow);
    --danger: var(--ctp-mocha-red);
    --accent-color: var(--ctp-mocha-mauve);
    --border: var(--ctp-mocha-surface0);
    --background2: var(--ctp-mocha-base);
    --background1: var(--ctp-mocha-mantle);
    --background0: var(--ctp-mocha-crust);
    --logo-yellow: var(--ctp-mocha-yellow);
    --logo-mauve: var(--ctp-mocha-mauve);
  }
}

body {
  background: var(--background0);
  color: var(--text);
  font-family: "Maple Mono", monospace;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* display: inline-flex; */
}

.button:hover {
  font-weight: bold;
}

.button > a > * {
  vertical-align: middle;
}

.header {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--background1);
  border-bottom: 1px solid var(--border);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-content {
  width: 85rem;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--background1);
  border-top: 1px solid var(--border);
}

.row {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
.row-center {
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
    align-items: stretch;
  }
}

.row > .container {
  margin: 0px;
}

.container {
  border-radius: 5px;
  border: 1px solid var(--border);
  overflow: hidden;
  margin: 20px;
  height: fit-content;
  width: fit-content;
}
a .container {
  margin: 0px;
}

.row .container {
}

.container-header {
  background-color: var(--background1);
  /* padding: 10px; */
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
}
.container-header > * {
  margin: 10px;
}
.container-content > * {
  background-color: var(--background2);
  padding: 10px;
}

.links {
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.link {
}

.icon {
  display: inline;
  padding: 10px;
}
.profile {
  padding: 0px !important;
}
.info {
  color: var(--subtext);
}
.info .icon {
  margin-left: 15px;
} 

.snowleafie {
  position: relative;
  display: inline;
}
.snowleafie > svg {
  display: block;
}
.snowleafie-leaf {
  color: var(--logo-yellow);
  position: absolute;
  /* top: 0; */
}
.snowleafie-flake {
  color: var(--logo-mauve);
  position: absolute;
  /* top: 0; */
}

a {
  text-decoration: none;
  /* display: block; */
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}
