@import url("styles/styles.css");
@import "tailwindcss";

@font-face {
  font-family: "Maple Mono";
  src:
    local("Maple Mono NF CN"),
    local("Maple Mono NF"),
    local("Maple Mono"),
    local("MapleMono"),
    url("/assets/fonts/MapleMono-Regular.ttf.woff2") format("woff2");
}
@font-face {
  font-family: "Maple Mono";
  src:
    local("Maple Mono NF CN Italic"),
    local("Maple Mono NF Italic"),
    local("Maple Mono Italic"),
    local("MapleMono Italic"),
    url("/assets/fonts/MapleMono-Italic.ttf.woff2") format("woff2");
    font-style: italic;
}
@font-face {
  font-family: "Maple Mono";
  src:
    local("Maple Mono NF CN Italic"),
    local("Maple Mono NF Italic"),
    local("Maple Mono Italic"),
    local("MapleMono Italic"),
    url("/assets/fonts/MapleMono-Bold.ttf.woff2") format("woff2");
    font-weight: bold;
}
@font-face {
  font-family: "Maple Mono";
  src:
    local("Maple Mono NF CN Italic"),
    local("Maple Mono NF Italic"),
    local("Maple Mono Italic"),
    local("MapleMono Italic"),
    url("/assets/fonts/MapleMono-Bold-Italic.ttf.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
}
